In [1]:
pos_score = []
neg_score = []
pos_file = open('pos_score.txt', 'r')
neg_file = open('neg_score.txt', 'r')
for line in pos_file.readlines():
    pos_score.append(float(line))
for line in neg_file.readlines():
    neg_score.append(float(line))
len(pos_score), len(neg_score)

(515212, 515212)

In [6]:
import pandas as pd
data = pd.read_pickle('Filling_nans')
##print(len(data), len(pos_reviews), len(neg_reviews))  (515212, 515212, 515212)
new_dataset = pd.DataFrame({'Hotel_name': data['Hotel_Name'], 'Avg_score': data['Average_Score'], 'pos': pos_score, 
                            'neg':  neg_score})
new_dataset.head()

   Avg_score   Hotel_name    neg    pos
0        7.7  Hotel Arena  454.3   23.0
1        7.7  Hotel Arena    0.0  133.0
2        7.7  Hotel Arena   63.4   54.1
3        7.7  Hotel Arena  462.7   62.7
4        7.7  Hotel Arena  137.4   43.2

In [4]:
df = pd.read_pickle('text_df')
df.head()

,reviews,score,Summary
0,only the park outside of the hotel was beautiful,1,park outside hotel beauti
1,no real complaints the hotel was great great l...,1,real complaints hotel great great location su...
2,location was good and staff were ok it is cute...,1,location good staff ok cute hotel breakfast r...
3,great location in nice surroundings the bar an...,1,great location nice surroundings bar restaura...
4,amazing location and building romantic setting,1,amazing location building romantic set